EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=INSERT_HERE
EXPO_PUBLIC_APPWRITE_PROJECT_ID=INSERT_HERE
EXPO_PUBLIC_APPWRITE_ENDPOINT=INSERT_HERE
EXPO_PUBLIC_APPWRITE_DATABASE_ID=INSERT_HERE
EXPO_PUBLIC_APPWRITE_COLLECTION_ID_CHATROOMS=INSERT_HERE
EXPO_PUBLIC_APPWRITE_COLLECTION_ID_MESSAGES=INSERT_HERE
